* {
  font-family: Poppins;
  margin: 0;
}

body {
  background-color: #e7f1f1;
}

h1 {
  font-size: 75px;
  margin: 100px 0 75px;
}

h1,
h2 {
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 8px;
}

.big-container {
    display: flex;
}

.flex-buttons {
    display: flex;
    justify-content: center;
}

.box-container {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.color-box {
  height: 125px;
  width: 125px;
  border: 4px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

#box1 {
  background-color: #ea9999;
}

#box2 {
  background-color: #facb9c;
}

#box3 {
  background-color: #ffe59a;
}

#box4 {
  background-color: #b6d7a8;
}

#box5 {
  background-color: #a4c4ca;
}

.unlock-box {
    height: 20%;
    width: 20%;
    padding-bottom: 2%;
    position: absolute;
}

.lock-box {
    height: 20%;
    width: 20%;
    padding-bottom: 2%;
    position: absolute;
}

.palette-button {
    margin-top: 80px;
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 5px 50px;
    border-radius: 1px 50px;
    border-style: none;
}


#saved-container {
    border-left: 5px solid black;
    padding-left: 100px;
    /* max-width: 30%; */
}

h3 {
    font-weight: 600;
    font-size: 40px;
}

#saved-palettes {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 100vh;
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mini-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-palette {
    height: 55px;
    width: 55px;
    margin: 5px;
    border: 5px solid black;
}

.delete {
    height: 40px;
    padding-left: 10px;
}

.hidden {
    display: none;
}
